 <style>
    body {
    background-color:#7a9cc2;
    }
    h1 {
    color: #8f1bb3;
    text-align:center;
    }
    p {
    font-family: comic sans ms;
    }
    div{
    background-color:purple;
    }
    div.san
    {
    background-color:green;
    }

    div.im{
    background-image:url(back.jpeg);
    margin-left:100px;
    margin-right:100px;
    margin-top:100px;
    margin-bottom:100px;
    border-radius: 40px;

    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    }

     div.par{
    background-color:#4b576b;
    margin-left:100px;
    margin-right:100px;
    margin-top:100px;
    margin-bottom:100px;
    border-radius: 40px;

    padding-top:50px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
    }
    div:hover{
    border : 4px solid #3154b5;
    }

  .thumbnails img {
height: 60px;
border: 4px solid #bd3388;
padding: 1px;
margin: 0 10px 10px 0;
}
.thumbnails img:hover {
border: 4px solid #44c99f;
cursor:pointer;
}
.preview img {
border: 4px solid #0d25bd
padding: 10px;
width: 500px;
height:400px;
}
    </style>